/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: Arial, Helvetica, sans-serif;
 }

 h1 {
  color: blueviolet;
 }

 h2 {
  color: brown;
 }

 .box {
  border-left: 8px solid lightgray ;
  margin: 20px;
  padding: 8px 0 8px 20px;
 }

 .person {
  font-style: italic;
 }

 .yellow {
  background-color: rgb(255, 255, 155);
 }

 a {
  text-decoration: none;
  color: black;
 }

 #form {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
 }

 #btn {
  background-color: rgb(88, 88, 222);
 }
